@import "reset.css";
@import "animation.css";
@import "menubar.css";
body{
    background-color: #f6f6fc;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
}
header{
    position: fixed;
    width: 100%;
    background-color: #4184d6;
}
header p{
    margin: 10px;
    color:#ffffff;
}
@media (max-width:514px) and (min-width:320px){
    .convas{
        width:100%;
        background-color: white;
        border-radius: 15px;
        box-shadow: 1px -1px 12px 4px #c7c7cccf;
        margin: 20px;
    }
    .control__color{
        width: 32px;
        height: 32px;
        border-radius: 25px;
        cursor: pointer;
        box-shadow: 1px 3px 5px 4px #b9b9b954;
    }
}
@media (max-width:768px) and (min-width:515px){
    .convas{
        width:500px;
        height: 300px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 1px -1px 12px 4px #c7c7cccf;
        margin: 20px;
    }
    .control__color{
        width: 50px;
        height: 50px;
        border-radius: 25px;
        cursor: pointer;
        box-shadow: 1px 3px 5px 4px #b9b9b954;
    }
}
@media all and (min-width:769px){
    .convas{
        width:700px;
        height: 450px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 1px -1px 12px 4px #c7c7cccf;
        margin: 20px;
    }
    .control__color{
        width: 50px;
        height: 50px;
        border-radius: 25px;
        cursor: pointer;
        box-shadow: 1px 3px 5px 4px #b9b9b954;
    }
}
.controls{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.control__colors,#colors{
    display: flex;
}
.controls_btn{
    margin: 5px;
}
.controls_btn button{
    all:unset;
    cursor: pointer;
    text-align: center;
    height: 40px;
    width: 85px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 3px 5px 4px #b9b9b954;
    border: 1px solid #00000038;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 600;
}
.modal-container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0000004d;
    z-index: 0;
    align-items: center;
    display: none;
    /*visibility: hidden;*/
    flex-direction: column;
}
.input-container{
    position: relative;
    width: 22%;
    height: 25%;
    top: 30%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 4px 7px 4px #7b7f82c2;
    animation: FadeIn 1.5s;
}
.input-container input[type="text"]{
    margin: 35px;
    margin-top: 5%;
    height: 25px;
    width: 71%;
    padding: 5px;
    font-size: 1.5rem;
}
.cancel-btn,.confirm-btn{
    all:unset;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 1px 3px 5px 4px #b9b9b954;
    border: 1px solid #00000038;
}
.cancel-btn{
    width: 20px;
    height: 20px;
    float: right;
    margin: 5px;
}
.confirm-btn{
    width: 80px;
    height: 30px;
    margin-left: 34%;
    margin-right: 34%;
}
.controls_btn button:active,.cancel-btn:active,.confirm-btn:active{
    transform: scale(0.9);
}

