@import "reset.css";
body{
    background-color: #f6f6fc;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.convas{
    width:700px;
    height: 550px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px -1px 12px 4px #c7c7cccf;
    margin: 20px;
}
.controls{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.control__colors,#colors{
    display: flex;
}
.control__color{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 1px 3px 5px 4px #b9b9b954;
}
.controls_btn{
    margin: 5px;
}
.controls_btn button{
    all:unset;
    cursor: pointer;
    text-align: center;
    height: 40px;
    width: 85px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 3px 5px 4px #b9b9b954;
    border: 1px solid #00000038;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 600;
}
@keyframes fadeIn{
    from{
        opacity: 0.0;
    }to{
        opacity: 1.0;
    }
}
.modal-container{
    position: absolute;
    width: 100%;
    height: 110%;
    background-color: #0000004d;
    z-index: 0;
    align-items: center;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    animation: fadeIn 0.5s;
}
.input-container{
    position: relative;
    width: 22%;
    height: 20%;
    top: 30%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 4px 7px 4px #7b7f82c2;
}
.input-container input[type="text"]{
    margin: 35px;
    margin-top: 5%;
    height: 25px;
    width: 71%;
    padding: 5px;
    font-size: 1.5rem;
}
.cancel-btn,.confirm-btn{
    all:unset;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 1px 3px 5px 4px #b9b9b954;
    border: 1px solid #00000038;
}
.cancel-btn{
    width: 20px;
    height: 20px;
    float: right;
    margin: 5px;
}
.confirm-btn{
    width: 80px;
    height: 30px;
    margin-left: 34%;
    margin-right: 34%;
}
.controls_btn button:active,.cancel-btn:active,.confirm-btn:active{
    transform: scale(0.9);
}